<script type="text/javascript" charset="utf-8">
	$(function() {
 		var path=window.location.pathname
   	if(path=='/sportsnew'){
     	var pathname = 'sportsnew'
   	}else{
     	var pathname='musicnew'
 	  }
  	var elem = document.getElementById("new_path");
  	elem.value=pathname
   	window.alert(elem.value)
	})
</script>
	<div id='head'>Welcome to blogs section</div>

	  <div id = "index">

	
	    <% @blogs.each do |blog| %>
		    <p><%=link_to blog.name, sports_path %> </h4></p>
			<p><%=truncate blog.content, length: 160  %> <%= link_to 'read more', blogg_path(blog) %> </p>

			<% if user_signed_in? %>      
		        
		        <%= link_to 'Edit', sportsedit_path(blog) %>
		        <%= link_to 'Destroy', sportsdelete_path, method: :delete, data: { confirm: 'Are you sure?' } %>
		    <%end%> 
	    <% end %>
	  </div>

<br>
<div id='new_path'>
	<% if user_signed_in? %>
		<%= link_to 'New Blog', sportsnew_path %>
	<%end%>
</div>




